.btn {
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
  background: linear-gradient(to right, #e47f6d, #3747ac);
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background: linear-gradient(to right, #b26456, #1c276b);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn:disabled {
  display: none;
}
